<!DOCTYPE html>
<html>
<head>
	<title> Havas | Data Wall </title>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- ie fix -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgktFOsilQgDvScgjEyOST_EGHM5WwAUs&libraries=places" type="text/javascript"></script>
</head>
<body>	

	<div id='backbone-app' class='loading'>
		<div class='transition-wipe pink'></div>
	</div>
	

	<!-- Templates -->
	<script id="title-template" type="text/template">
		<div class='grid'>
			<div class='col col-1-2'>
				<img src='./img/logo-placeholder.png' />
			</div>
			<div class='col col-1-2'>
				<h2> 
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</h2>
			</div>
		</div>
	</script>



	<script id="floorplan-template" type="text/template">
		<div class='view scene1'>
			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>Location</span> HKX Plan
				</h2>
			</div> 
		</div> 
	</script>





	<script id="transport-template" type="text/template">
		
		<div class='view scene1'>
			<div class='title-block'>
				<h2 class='title'><span class='fill pink'>Transport</span> Travel </h2>
			</div>
			<div class='grid'>
				<div class='col col-1-2 pad-right'>
					<div class='ani-block'>
						<ul class='twitter-loop-block'>
						<% _.each(new Array(5),function(d,i){ %>
							<li>
								<div class='tweet-block-2' >
									<p class='handle'>@john</p>
									<h2 class='text'>
										Alteration to the 09:20 London Liverpool Street to Shenfield due 10:03 due to a late running train.
									</h2>
								</div>
							</li>
						<% }) %>
						</ul>
					</div>
				</div>
				<div class='col col-1-2 '>

					<div class='ani-block'>
						<h3>Kings Cross Trains</h3>
						<table class='train-table-block'>
							<tr>
						  		<td>13:00</td>
						  		<td>Leads to St Pancras international</td>
							</tr>
						  	<tr>
						    	<td>13:05</td>
						    	<td>Sheffield to Kings Cross</td> 
						  	</tr>
						  	<tr>
						  		<td>13:00</td>
						  		<td>Leads to St Pancras international</td>
							</tr>
						  	<tr>
						    	<td>13:05</td>
						    	<td>Sheffield to Kings Cross</td> 
						  	</tr>
						</table>
					</div>

				</div>
			</div>
		</div>

		<div class='view scene2'>
			<div class='title-block'>
				<h2 class='title'><span class='fill pink'>Transport</span> Barclays Bikes </h2>
			</div>
			<div class='grid'>
				<div class='col col-1-2 pad-right'>

					<div  class='ani-block'>

						<div class='grid'>
							<div class='col col-1-3 stat-block'>
								<h1><%= bike.bikesCount %></h1>
								<p>bikes</p>
							</div>
							<div class='col col-1-3 stat-block'>
								<h1><%= bike.spacesCount %></h1>
								<p>spaces</p>
							</div>
						</div>
						<ul class='grid-chart-block'>
							<% _.each(new Array(bike.bikesCount),(d,i)=>{ %>
								<li><i></i></li>
							<% }) %>
							<% _.each(new Array(bike.spacesCount),(d,i)=>{ %>
								<li></li>
							<% }) %>
						</ul>

					</div>
				</div>

				<div class='col col-1-2 pad-right'>
					<div class='ani-block'>
						<h1>Test</h1>
					</div>
				</div>

			</div>
		</div>
	</script>



	<script id="havas-news-template" type="text/template">

		<div class='view scene1'>
			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>News</span> Havas in the media
				</h2>
			</div> 
			<div class='stat-block top-right' >
				<h1><%= HavasInTheMedia.length %></h1>
				<p>articles</p>
			</div>
			<div class='center-block'>
				<div class='center'>
					<ul class='twitter-loop-block'>
						<% _.each(HavasInTheMedia,function(d,i){ %>
							<li>
								<div class='tweet-block-3 negative'>
									<h1 class='text'><%= d.title %></h1>
									<p class='handle'><%= d.source %></p>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>

	</script>	





	<script id="twitter-sentiment-template" type="text/template">
		
		<div class='view scene1'>
			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>Twitter</span>
					Emotions in King's Cross
				</h2>
			</div> 
			<ul class='sentiment-emotions-chart'>
				<p class='axis-label left'>Unlikely</p>
				<p class='axis-label right'>Likely</p>
				<% _.each(emotion,function(d,i){ %>
					<li>
						<div class='centered-horizontal-bar' >
							<h2 class='label center'><%= d.label %></h2>
							<div class='bar negative'>
								<span style='width:<%= d.negative %>%;'></span>
							</div>
							<div class='bar positive'>
								<span style='width:<%= d.positive %>%;'></span>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>
		</div>
		<div class='view scene2'>
			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>Twitter</span>
					The Sentiment in King's Cross today is <span class='underline positive'>Positive</span> 
				</h2>
			</div>
			<div class='center-block'>
				<div class='center'>
					<ul class='twitter-loop-block'>
						<% _.each(tweets,function(d,i){ %>
							<li>
								<div class='tweet-block-1 negative'>
									<p class='handle'>@<%= d.user.screen_name %></p>
									<h1><%= d.text %></h1><br/>
									<div class='horizontal-bar' >
										<p>Negative</p>
										<div class='bar negative'> <span style='width:30%'></span> </div>
									</div>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>

	</script>



	<script id="map-template" type="text/template">
		
		<div class='view no-margins scene1'>
			<div class='map-container'>
				<div id='map' class='map-block'></div>
				<canvas id="mapCanvas" class='canvas-block'></canvas>
				<div id='tool' class='tool-tip' >
					
				</div> 
			</div>
		</div>
		
		<div class='view scene2'>
			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>Meetups</span>
					Meetups within <span class='underline positive'>1km</span>
				</h2>
			</div>
		</div>

	</script>

	<!-- Plugins -->
	<script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/js/bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="/js/bower_components/backbone/backbone.js"></script>
	<script type="text/javascript" src="/js/bower_components/gsap/src/minified/TweenMax.min.js"></script>
	<script type="text/javascript" src="/js/bower_components/moment/moment.js"></script>
	<script type="text/javascript" src="/js/bower_components/d3/d3.js"></script>
	<script type="text/javascript" src="/js/bower_components/EaselJS/lib/easeljs-0.8.2.combined.js"></script>
	<script type="text/javascript" src="/js/plugins/d3-extension.js"></script>
	<script type="text/javascript" src="/js/plugins/jquery.debouncedresize.js"></script>

	<!-- Backbone -->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/router.js"></script>

	<!-- Module -->
	<script type="text/javascript" src="/js/views/module/mapCanvas.js"></script>

	<!-- Views -->
	<script type="text/javascript" src="/js/views/title.js"></script>
	<script type="text/javascript" src="/js/views/floorplan.js"></script>
	<script type="text/javascript" src="/js/views/twitterKingsCrossSentiment.js"></script>
	<script type="text/javascript" src="/js/views/transport.js"></script>
	<script type="text/javascript" src="/js/views/map.js"></script>
	<script type="text/javascript" src="/js/views/havasNews.js"></script>

	<!-- Start -->
	<script type="text/javascript">App.Init();</script>


</body>
</html>