
.center-block
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  text-align center
  &:before
    content ''
    display inline-block
    height 100% 
    vertical-align middle
    margin-right -0.25em
  .center
    text-align left
    display inline-block
    vertical-align middle
    width 60%

