$bg = #050028
$bg_light = #1e1e3e
$blue = #1598d1
$teal = #00cccc
$pink = #ff275b
$orange = #ff7006

$view-margins = 4vw
$pad = 5vw
$line-width = 0.4vw
$short-shadow = 3px 5px 0px rgba(0, 0, 0, 0.2)

