@font-face 
  font-family 'Reem'
  src url("/css/fonts/reem/itv_reem_web-regular.woff")
  font-weight 400

@font-face 
  font-family 'Reem'
  src url("/css/fonts/reem/itv_reem_web-medium.woff")
  font-weight 500

@font-face 
  font-family 'Reem'
  src url("/css/fonts/reem/itv_reem_web-bold.woff")
  font-weight 700
