body
	font-family 'Droid Sans' Helvetica Arial

	.absolute-center
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		margin auto
		display block
		margin auto auto

	h1,h2,h3,p,a,i,span,label,input,button,strong,li
		-moz-osx-font-smoothing grayscale
		-webkit-font-smoothing antialiased
		font-smoothing antialiased	
		text-rendering optimizeLegibility
		color #FFF
	h1
		font-size 55px
		line-height 85px
		font-weight 400
		font-family 'Droid Sans'
		font-family 'Montserrat'

	h2
		font-size 45px
		line-height 65px
		font-weight 400
		font-family 'Droid Sans'
		font-family 'Montserrat'

	div,p,li
		font-size 37px
		line-height 47px
		font-weight 400
		font-family 'Droid Sans'
		font-family 'Montserrat'

	strong
		font-size 37px
		line-height 47px
		font-weight 400
		font-family 'Droid Sans'
		font-family 'Montserrat'
		@media screen and (max-width: 800px) 
			font-size 16px

	a,button
		font-size 37px
		line-height 47px
		font-weight 400
		cursor pointer
		font-family 'Droid Sans'
		font-family 'Montserrat'
		text-decoration none

	label, input
		font-weight 400
		cursor pointer
		font-family 'Droid Sans'
		font-family 'Montserrat'

	input
		font-size 15px
		line-height 16px
		font-family 'Droid Sans'
		font-family 'Montserrat'

	label
		font-size 13px
		line-height 15px
		font-family 'Droid Sans'
		font-family 'Montserrat'
	svg 
		visibility visible
	
	img
		width 100%
		display block