*
	margin 0
	border none
	padding 0
	box-sizing border-box

// css reset
@import "styl/reset.styl"
@import "styl/fonts.styl"

// mixins and general
@import "styl/colors.styl"
@import "styl/mixins.styl"
@import "styl/general.styl"
@import "styl/grid.styl"

// modules
@import "styl/animations.styl"
@import "styl/charts.styl"

@import "styl/center.styl"





body
	background-color #000

	#backbone-app
		width 100%
		transform translate3d(0, 0, 0)
		backface-visibility hidden
		perspective 1000
		position fixed
		top 0
		left 0
		background-color $bg
		&:after
			padding-top 56.25% /* 16:9 ratio */
			display block
			content ''
		&.loading
			background-position center
			background-size 99px 99px
			background-image url(/img/loading.gif)
			background-repeat no-repeat

		.transition-wipe
			position fixed
			top 0
			left 0
			display block
			width 100%
			height 100%
			opacity 1
			z-index 50
			&.blue
				background-color $blue
			&.teal
				background-color $teal
			&.pink
				background-color $pink
			&.orange
				background-color $orange

		.guide
			width 100%
			height auto
			position absolute
			top 0
			left 0
			z-index 2
			opacity 1
			pointer-events none


		.view
			width calc(100% - 20vh)
			height calc(100% - 20vh)
			margin 50px
			border 2px solid rgba(255,255,255,0.02)
			position absolute
			top 0
			bottom 0
			left 0 
			right 0
			margin auto 
			transform translate3d(0,0,0.1)
			backface-visibility hidden
			perspective 1000


			





// Blocks --

.stat-block
	padding-left $pad
	border-left $line-width solid red



.title-block
	.title
		line-height 8vh
		span.fill
			line-height inherit
			height inherit
			background-color red
			display inline-block
			padding 0 3vh 0 3vh
			margin-right 20px
			&.pink
				background-color #ff275b

		span.underline
			line-height inherit
			height inherit
			position relative
			display inline-block
			&:after
				 content ''
				 display block
				 height 0.7vh
				 width 100%
				 background-color red
				 position absolute
				 bottom 0.3vh
				 left 0
			&.positive:after
				background-color $teal
			&.negative:after
				background-color $pink


.map-block
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.grid-chart-block
	li
		width calc(10% - 1vh)
		margin-top 1vh
		margin-right 1vh
		float left
		height auto
		display block
		background-color $bg_light
		&:after
			content ''
			display block
			padding-top 50%
		i
			width 100%
			height 100%
			display block
			position absolute



table.train-table-block
	color #FFF
	width 100%
	tr
		border-bottom 0.5vh solid $bg
		td
			padding 10px 20px
			width 50%
			border-left 0.5vh solid $bg
			background-color $bg_light
			&:first-child
				width 25%


ul.twitter-loop-block
	width 100%
	height 36vh
	display block
	position relative
	margin $pad 0
	li
		position absolute
		top 0
		left 0

		div.tweet-block-2 
			.handle
				color $pink
				margin-bottom 10px
			.text
				padding-left 3vh
				border-left 0.7vh solid $pink


		div.tweet-block-1
			padding-left 6vh
			border-left 0.7vh solid $bg_light
			&.negative
				border-left 0.7vh solid $pink
			&.positive
				border-left 0.7vh solid $teal
			&.neutral
				border-left 0.7vh solid green
			.handle
				position absolute
				line-height 30px
				top 0
				left -11vh
				transform-origin top left
				width auto
				height auto
				text-align right
				transform rotate(-90deg) translateX(-100%)
