<!DOCTYPE html>
<html>
<head>
	<title> Havas | Data Wall </title>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- ie fix -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>	
	<div id='backbone-app' class='loading'></div>

	<script id="template" type="text/template">
			
		<div class='transition-wipe pink'></div>

		<div class='view'>

			<div class='title-block'>
				<h2 class='title'>
					<span class='fill pink'>Twitter</span>
					The Sentiment in King's Cross today is <span class='underline positive'>Positive</span> 
				</h2>
			</div>
			<ul class='sentiment-emotions-chart'>
				<p class='axis-label left'>Unlikely</p>
				<p class='axis-label right'>Likely</p>
				<% _.each([1,2,3,4,5],function(d,i){ %>
					<li>
						<div class='centered-horizontal-bar' >
							<h2 class='label center'>Anger</h2>
							<div class='bar negative'>
								<span style='width:20%;'></span>
							</div>
							<div class='bar positive'>
								<span style='width:3%;'></span>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>

		</div>

	</script>

	<!-- Plugins -->
	<script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/js/bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="/js/bower_components/backbone/backbone.js"></script>
	<script type="text/javascript" src="/js/bower_components/gsap/src/minified/TweenMax.min.js"></script>
	<script type="text/javascript" src="/js/bower_components/moment/moment.js"></script>
	<script type="text/javascript" src="/js/bower_components/d3/d3.js"></script>
	<script type="text/javascript" src="/js/plugins/d3-extension.js"></script>

	<script type="text/javascript">
		(function(){
			

			var TheView = Backbone.View.extend({
				// id:'view',
				// className:'view',
				playhead:0,
			    initialize:function(data){
			    	var self = this;
						self.template = _.template($("#template").html());
						self.data = data || {};
						self.render();
					
					console.log(self.data);
			    },
			    render:function(){
			    	var self = this;
			    		
			    	

			    	self.$el.html(self.template(self.data));

			    	var wipe = self.$el.find(".transition-wipe");










		    		// Init GSAP ---
		    		var base = self.$el;
		    		var animated_bar = self.$el.find(".bar span");
		    		var animated_bar_negative = self.$el.find(".bar.negative span");
		    		var animated_bar_positive = self.$el.find(".bar.positive span");
		    	
		    		self.timeline = new TimelineMax({ paused:true });		
					self.timeline
						.set(wipe, { width:0, immediateRender:true })
						.set(base, { opacity:0, immediateRender:true })
						.set(animated_bar_negative, { opacity:0, x:300, immediateRender:true })
						.set(animated_bar_positive, { opacity:0, x:-300, immediateRender:true })

						.addPause(0.3)
						.to(wipe, 0.5, { width:100 })
						.to(base, 0.5, { opacity:1 })
						.staggerTo(animated_bar, 1, { opacity:1, x:0 }, 0.1, '-=0.1')
						.addLabel('scene1');

					self.labels = self.timeline.getLabelsArray();

					$('#backbone-app').append( self.$el );
					
					self.timeline.tweenTo( self.labels[self.playhead].name );


			    },
			    destroy:function(callback){
			    	var self = this;
			    	self.$el.fadeOut(200, function(){
			    		self.stopListening();
					    self.undelegateEvents();
					    self.$el.removeData().unbind(); 
					    self.remove();  
					    Backbone.View.prototype.remove.call(self);
					    callback();
					});
				}
			});


			var init = function(){ 
		
				console.log("Loading App");
				$.getJSON('/api/twitter_kingscross', function( data ) { 
					new TheView(data); 
				}); 
				
			}()
			
		})();
	</script>

	<!-- Backbone -->
<!-- 	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/router.js"></script> -->

	<!-- Views -->
	<!-- <script type="text/javascript" src="/js/views/title.js"></script>
	<script type="text/javascript" src="/js/views/floorplan.js"></script>
	<script type="text/javascript" src="/js/views/twitterSentiment.js"></script> -->

	
	
	<!-- Start -->
	<!-- <script type="text/javascript">App.Init();</script> -->


</body>
</html>